<html>

    <head>
    <table style="width:75%;background-color: #F0FFFF; border-collapse: collapse; border: 1px solid black;
    padding: 100px; opacity: .9", border="1">

        <title>Please Pick a League</title>
    </head>
    <body>
     <h1> <font color="red">Please Pick a League!</font></h1>


  <tr>
    <th align="left">Country</th>
    <th align="left">League</th>
  </tr>
  <tr>
    <td>England</td>
    <td><form action="/PremierLeague">
    <input type="submit" value="EPL" /></td></form>

  </tr>
  <tr>
    <td>Holland</td>
    <td><form action="/DutchLeague">
    <input type="submit" value="Everdivise" /></td></form>

  </tr>
   <tr>
    <td>France</td>
    <td><form action="/FrenchLeague">
    <input type="submit" value="Ligue 1" /></td></form>
  </tr>
  <tr>
    <td>Italy</td>
    <td><form action="/ItalianLeague">
    <input type="submit" value="Serie A" /></td></form
  </tr>
  <tr>
    <td>Portugal</td>
    <td><form action="/PortugeseLeague">
    <input type="submit" value="Portugal" /></td></form
  </tr>
</table>
    </body>

</html>

